<h1>Edit Question Section</h1>
<ul>
<li id="edit_question_title"><i class="heading_text">Editing Question:</i> <%= @question.question %><br/><i class="heading_text">of Quiz:</i> <%= @quiz.name %></li>
<%= render partial: "questions/html/edit_form" %> 

<script>
  <%= render partial: "questions/js/edit.js.erb" %>
</script>