<h1>Listing All Quizzes</h1>
 
<table>
  <thead>
    <tr>
      <th>Question Name</th>
      <th>Question Id</th>
    </tr>
  </thead>
 
  <tbody>
    <% @questions.each do |question| %>
        <tr>
          <td><%= question.question %></td>
          <td><%= question.id %></td>
        </tr>
    <% end %>
  </tbody>
</table>
 
<br>