<h3 id="question_name">Question: <%= @question[0]["question"] %></h3>
<h3 id="quiz_name">Belongs to Quiz Name: <%= @question[0]["name"] %></h3>

<%= button_to "Back To Home", root_url, id: "homepage_link", method: :get %>
<%= button_to "Back To Questions", questions_path, id: "questions_link", method: :get  %>