<table>
    <thead>
   
        <td>Question Name</td>
        <td>Quiz Id</td> 
    </thead>
    <tbody>
    <% @questions.each do |question| %>
        <tr>
            <td><%= question.question %></td>
            <td><%= question.quiz_id %></td>
        </tr>
    <% end %> 
    </tbody>
</table>
<%= button_to "Back To Home", root_url, id:"homepage_link", method: :get %>
