<h1>Quiz Details</h1>
 
<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Answer Id</th>
      <th>Quiz Id</th>
    </tr>
  </thead>
 
  <tbody>
  
    <tr>
        <td><%= @question.question %></td>
        <td><%= @question.answerId %></td>
        <td><%= @question.id %></td>
    </tr>
  
  </tbody>
</table>

 