
<h3 id="category_heading">Quiz Categories</h3>
<% @quizzes.each do |quiz_category| %>
    <h5><%= quiz_category.category %></h5>
    <% @quizzes.each do |quiz| %>
        <% if quiz_category.id === quiz.id %>
            <%= link_to quiz.name, quiz_path(quiz.id), :class => "quiz_link", :id => "quiz#{quiz.id}" %>
        <% end %>
    <% end %>
<% end %>
<%= render_quizzes_restfull_routes %>
<%= button_to "Back", root_url, :id => "back_link", method: :get %>



