
$.ajax({
    url: "/quizzes/new",
    method: "get",
    dataType: "json",
    data: {
        newQuiz: {
            name: $("#name").val(),
            category: $("#category").val(),
            description: $("#description").val(),
            total_questions: $("#total_questions").val()
            }
    },
    success: function(data){
        console.log(data);
        $("#new_quiz_errors").html(`
        <% if @new_quiz.errors.any? %>
            <ul>
                <% @new_quiz.errors.full_messages.each do |error| %>
                    <li><%= error %></li>
                <% end %>
            </ul>
        <% end %>
    `);
    }
});