<div class="container">
<h3>About</h3>
<p>Quiz Game is made and maintained by <a href="https://shehanatuk.com">Shehan Atuk</a>
He created this site in 2019 using Ruby on Rails and continues to improve it regularly. Some future addisions are:
<ul class="about_list">
    <li class="about_list_item">More Quizzes</li>
    <li class="about_list_item">Ability to play in a group setting</li>
</ul>
<h6><strong>Shehan Atuk's links:</strong></h6>
<div class="social_links_container">
        <a class="waves-effect waves-light btn-floating btn-large social twitter" href="https://twitter.com/Shehan_Atuk" target="_blank">
        <i class="fa fa-twitter"></i></a>

        <a class="waves-effect waves-light btn-floating btn-large social facebook" href="https://www.facebook.com/shehan.atuk1" target="_blank">
        <i class="fa fa-facebook"></i></a>

        <a class="waves-effect waves-light btn-floating btn-large social github" href="https://github.com/ShehanAT" target="_blank">
        <i class="fa fa-github"></i></a>

        <a class="waves-effect waves-light btn-floating btn-large social linkedin" href="https://www.linkedin.com/in/shehan-a-780622126/" target="_blank">
        <i class="fa fa-linkedin"></i></a>

        <a class="waves-effect waves-light btn-floating btn-large social stack-overflow" href="https://stackoverflow.com/users/10871450/flyingfishcattle" target="_blank">
        <i class="fa fa-stack-overflow"></i></a>

        <a class="waves-effect waves-light btn-floating btn-large social codepen" href="https://codepen.io/shehanatukorala" target="_blank">
        <i class="fa fa-codepen"></i></a>
</div>
</p>
</div>