<div class="container">
    <div class="row">
        <div class="col m10 offset-m1 s12">
            <h2 class="center-align">Contact Form</h2>
            <div class="row">
                <form class="col s12" action="//formspree.io/shehanatuk@gmail.com" method="POST">
                    <div class="row">
                        <div class="input-field col m6 s12">
                            <input id="first_name" type="text" class="validate" name="First Name">
                            <label for="first_name">First Name</label>
                        </div>
                        <div class="input-field col m6 s12">
                            <input id="last_name" type="text" class="validate" name="Last Name">
                            <label for="last_name">Last Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col m6 s12">
                            <input id="email" type="email" class="validate" name="Email" required>
                            <label for="email">Email</label>
                        </div>
                        <div class="input-field col m6 s12">
                            <input id="company" type="text" class="validate" name="Company">
                            <label for="company">Company</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                          <textarea id="message" class="materialize-textarea" name="Message"></textarea>
                          <label for="message">Message</label>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="contact_btn">
                        <button type="submit" class="btn waves-effect waves-light">Submit<i class="material-icons left">send</i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>