<h3>F.A.Q</h3>

<h6><strong>Can I get the content from some of your quizzes?</strong></h6>
<h6>Sure just fill out this <a href="/static_pages/contact">contact form</a> or email me at <a href="mailto:shehanatuk@gmail.com">shehanatuk@gmail.com</a></h6>


<h6><strong>How are the scores for quizzes taken being stored?</strong></h6>
<h6>The quiz scores are stored in a secure SQLite3 database along with your user ID</h6>

<h6><strong>Other Questions?</strong></h6>
<h6>Feel free to <a href="/static_pages/contact">contact me</a></h6>
