<h1>Welcome to Quiz Game</h1>
<select><label>Select Category</label>
    <h2>Hello @guest_user.username</h2>
    <option value="invalid">Select A Quiz</option>
    <option value="sampleQuiz">Sample Quiz</option>
</select>
<% if false %>
<%= button_to 'startButton', action: 'start', method: :post %>
<% end %>