<h1>Welcome to Quiz Game #welcome</h1>
<select><label>Select Category</label>
    <option value="invalid">Select A Quiz</option>
    <option value="sampleQuiz">Sample Quiz</option>
</select>
<%= button_to 'startButton', action: 'start', method: :post %>
