<h1>Welcome to Quiz Game</h1>
<%= form_tag({:action => 'setup_quiz'}, {:id => 'quiz_collection_form',  :method => "get"}) do %>
    
    <% if session[:guest_user_id] %>
        <h2 id="welcome_user">Hello Guest User</h2>
    <% else %>
        <h2>Hello <%= session[:username] %></h2>
    <% end %>

    <% @quizzes.each do | quiz | %>
        <%= link_to "#{quiz.name}", {controller: "start_quiz", action: "setup_quiz", :quiz_select => "#{quiz.id}"} , id: "quiz#{quiz.id}", class: "quiz_link" %>
    <% end %>

    <%= link_to "Logout", {controller: "session", action: "logout"} , id: "logout" %>
<% end %>