
$.ajax({
    url: "/sessions/new",
    method: "get",
    dataType: "json",
    data: {},
    success: function(data){
        console.log(data);
        $("#session_errors").html(`
        <h3>Invalid Credentials! Please Try Again.</h3>
        `);
    }
});

