<h1>Game Over</h1>

<h2 id="final_score">Your Score: <%= session[:score] %></h2>
<% if !session[:guest_user_id] %>
    <h3 id="save_score">Your high score has been saved</h3>
<% end %>

<%= link_to "Home Page", {controller: "start_quiz", action: "welcome"} , id: "homePage" %>

<%= link_to "Take Different Quiz", {controller: "start_quiz", action: "quiz_list"} , id: "quizList" %>
