<h1>This is the stage for the Quiz Game</h1>

<%= form_tag( "/level", { :method => :post, :remote => true }) do %>
    <h1>Question: <%= @quiz.question %></h1>
    <% @questions.each do |answer| %>
        <%= button_tag "#{answer.answer}", :id => "choice#{answer.id}", :type => :submit, :"button" => "#{answer.id}" %>
    <% end %>
<% end %>
