<h1>This is the stage for the Quiz Game</h1>

<h2>Question: <%= @quiz.question %></h2>
<% @answers.each do |answer| %>
    <%= button_to "#{answer.answer}", games_path(quizId: @quiz.id, answerId: "#{answer.answerId}"), remote: true, method: :post %> 
<% end %>
