<div id="deleteQuizModal" class="modal">
<div id="deleteQuizModal_text" class="modal-content">
    <h3>Are You Sure You Want To Delete This Quiz?</h3>
    <p class="error">*This action is irreversible and will delete all questions, answers and scores linked to this quiz!</p>
    <div class="modal_btn_container modal-footer">
    <button id="quizDeleteNo" onclick="deleteQuiz(this)" class="btn waves-effect waves-light" >Cancel<i class='material-icons left'>cancel</i></button>
    <button id="quizDeleteYes" onclick="deleteQuiz(this)" class="btn waves-effect waves-light" >Delete This Quiz<i class='materials-icons left'>delete</i></button>
    </div>
</div>


</div>