<div id="deleteQuizModal" class="modal">

<div id="deleteQuizModal_text" class="modal-content">
    <h1>Are You Sure You Want To Delete This Quiz And All Associated Questions? This Action Is Irreversible!</h1>
    <button id="quizDeleteNo" onclick="deleteQuiz(this)" class="btn btn-success" >Cancel</button>
    <button id="quizDeleteYes" onclick="deleteQuiz(this)" class="btn btn-danger" >Delete This Quiz</button>
</div>


</div>