<h1>Quiz List</h1>
 
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Contained Number of questions</th>
    </tr>
  </thead>
 
  <tbody>
    <tr>
        <td><%= @quiz.name %></td>
        <td><%= @quiz.category %></td>
        <td><%= @quiz.total_questions %></td>
    </tr>
  </tbody>
</table>
<h2>This quiz contains no questions yet. Click <a href="/question/new_question">here</a> to add questions</h2>
<br>
