<h1>Listing Newly Created Quiz</h1>
 
<table>
  <thead>
    <tr>
      <th>Collection Id</th>
      <th>Quiz Collection Id</th>
      <th>Quiz Answer Id</th>
    </tr>
  </thead>
 
  <tbody>
    <tr>
    <% @collection.quiz.each do |quiz| %>
        <tr>
            <td><%= @collection.id %></td>
            <td><%= quiz.collection_id %></td>
            <td><%= quiz.answerId %></td>
        </tr>
       
    <% end %>
 
    </tr>
  </tbody>
</table>
<br>
