<h1>Listing All Quizzes</h1>
 
<table>
  <thead>
    <tr>
      <th>Collection Name</th>
      <th>Question</th>
      <th>Answer</th>
    </tr>
  </thead>
 
  <tbody>
    <% @collections.each do |collection| %>
        <% collection.quiz.each do |quiz| %>
          <tr>
          <td><%= collection.name %></td>
          <td><%= quiz.question %></td>
          <td><%= quiz.answer %></td>
          </tr>
        <% end %>
    <% end %>
  </tbody>
</table>
 
<br>