<h1>Quiz Details</h1>
 
<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Answer</th>
      <th>Quiz Id</th>
    </tr>
  </thead>
 
  <tbody>
  
    <tr>
        <td><%= @quiz.collection_id %></td>
        <td><%= @quiz.answerId %></td>
        <td><%= @quiz.id %></td>
    </tr>
  
  </tbody>
</table>

 