<h1>Listing Newly Created Quiz</h1>
 
<table>
  <thead>
    <tr>
      <th>Quiz Id</th>
      <th>Question Id</th>
      <th>Answer Id</th>
    </tr>
  </thead>
 
  <tbody>
    <tr>
    <% @quiz.question.each do |question| %>
        <tr>
            <td><%= @quiz.id %></td>
            <td><%= question.quiz_id %></td>
            <td><%= question.answerId %></td>
        </tr>
       
    <% end %>
 
    </tr>
  </tbody>
</table>
<br>
