function doPasswordValidations(){
    $("#password_errors").empty();
    var errors = [];
    if(!$("#current_password").val()) errors.push("Current Password Field Cannot Be Empty");
    if(!$("#new_password").val()) errors.push("New Password Field Cannot Be Empty");
    if(!$("#new_password_confirm").val()) errors.push("Confirm Password Field Cannot Be Empty");
    if($("#new_password").val() != $("#new_password_confirm").val()) errors.push("New Passwords Do Not Match");
    errors.forEach(function(error){
        $("#password_errors").append(`<p style='color: red;'>${error}</p>`);
    });
}

function cancelPassword(){
    $("#change_password_section").css("display", "none");
    $("#change_password_link").css("display", "inline");
}


function updatePassword(){
    doPasswordValidations();
    var currentPassword = $("#current_password").val();
    var newPassword = $("#new_password").val();
    var confirmPassword = $("#new_password_confirm").val();
    if($("#password_errors").children().length == 0){
        $.ajax({
            url: "/change_password",
            method: "post",
            data: {
                current_password: currentPassword,
                new_password: newPassword,
                confirm_password: confirmPassword,
                authenticity_token: window._token 
            },
            dataType: "json",
            success: function(data){
                alert(`${data.response.message}`);
                location.reload();            
            }
        });
    }
}

function changePassword(){
    $("#change_password_section").css("display", "inline");
    $("#change_password_link").css("display", "none");
}