
var questionArr = [];
var currentQuestion = 0;
var questionImage = [];
var totalQuestions = questionArr.length;
var errors = [];
var mode;

$("#questionTypeModal").show();
function showQuestionSection(mode){
  $("#questionTypeModal").hide();
  switch(mode){
    case "images":
      mode = "images";
      $("#question_image_form").show();
      break;
    case "text":
      mode = "text";
      $("#question_image_form").hide();
      break;
  }
}
$("input[type='checkbox']").attr("correct_answer", "0");
$("input[type='checkbox']").on("click", function(){
  $("input[type='checkbox']").not(this).prop("checked", false);
  if($(this).prop("checked")){
    $(this).attr("correct_answer", "1");
    updateQuestionArrCheckbox(this.value, true);
  }else{
    updateQuestionArrCheckbox(this.value, false);
    $(this).attr("correct_answer", "0");
  }
});
$("input[type='file']").on("change", function(){
  currentQuestion.question_image = true;
  $.ajax({
    url: `/question_images`,
    method: "post",
    dataType: "json",
    data: new FormData($("#question_image_form")[0]),
    success: function(data){
      console.log(data);
    },
    cache: false,
    contentType: false,
    processData: false,
    });
  });
 

(function(){
  QuestionSet.id = 1;
  setCurrentQuestion();
}())

function updateQuestionArrCheckbox(value ,checked){
    for(var i = 1; i <= 4; i++){
      if(i == value && checked){
        currentQuestion.setCorrectAnswer(i);
      }
    }
    if(!checked) currentQuestion.revertDefaultChoice();
}

function updateQuestionArrText(value){
  currentQuestion.updateFields(value.id);
}

function updateStatusMessage(question){
  var currentIndex = questionArr.findIndex(function(element){
    return element.id == question.id;
  });
  $("#add_questions_message").text(`Now Editing Question #${currentIndex + 1}`);
}
function toggleTextFields(question){
 
  $("#question").val(question.question);
  for(var i = 1 ; i <= 4; i++){
    $(`#answer${i}`).val(question[`answer${i}`].answer);
    if(question[`answer${i}`].correct_answer == "1"){
      $(`input[value='${i}']`).prop("checked", true);
      $("input[type='checkbox']").not($(`input[value='${i}']`)).prop("checked", false);
    }
  }
}
  

function setCurrentQuestion(){
  currentQuestion = new QuestionSet(QuestionSet.getHighestId(),"", "", "", "", "", "0");
  questionArr.push(currentQuestion);
  displayNewQuestion(currentQuestion.id);
  bindToElement(QuestionSet.getHighestId());  
}

function displayNewQuestion(value){
  var questionIndex = questionArr.findIndex(function(element){
    return element.id == value;
  });
  var question = questionArr.find(function(element){
    return element.id == value;
  });
  $(".gallery_container").append(`<div style='cursor: pointer;' value='${question.id}' id='toggle_${question.id}' ><span><h1 style='display: inline;' class='question_text' >Question #${questionIndex + 1}</h1></span><button onclick="deleteQuestion(this)" class="btn btn-danger delete_question_link">Delete Question</button></div>`);
}

function bindToElement(value){
  $(`#toggle_${value}`).bind("click", function(){
    var value = $(this).attr("value");
    currentQuestion = questionArr.find(function(element){
      return value == element.id;
    });
    eraseFields();
    toggleTextFields(currentQuestion);
    updateStatusMessage(currentQuestion);
  });
}

function clearErrors(){
  $("#question_errors").empty();
}

function addQuestion(){
  clearErrors();
  eraseFields();
  var newQuestion = addToQuestionArr();
  displayNewQuestion(newQuestion.id);
  bindToElement(QuestionSet.getHighestId());
  updateQuestionNumbers();
  updateStatusMessage(newQuestion);
}

function updateQuestionNumbers(){
  var questionElements = $(".gallery_container").children();
  for(var i = 0 ; i < questionElements.length; i++){
    $(questionElements[i]).find("h1").text(`Question #${i+1}`);
  }
}

function addToQuestionArr(){
  var newId = QuestionSet.incrementId();
  currentQuestion = new QuestionSet(QuestionSet.getHighestId(), $("#question").text(), $("#answer1").text(), $("#answer2").text(), $("#answer3").text(), $("#answer4").text(), $("input[type='checkbox']").val())
  questionArr.push(currentQuestion);
  totalQuestions = questionArr.length;
  return currentQuestion;
}

function eraseFields(){
  $("#question").val("");
  for(var i = 0; i < 4; i++){
    $(`#answer${i+1}`).val("");
  }
  $("input[type='checkbox']").prop("checked", false);
}

function deleteQuestion(e){
  if(questionArr.length > 1){
    var index = getArrayIndex($(e).parent());
    questionArr.splice(index, 1);
    $(e).parent().remove();
    totalQuestions--;
    currentQuestion--;
    updateQuestionNumbers();
  }

}

function getArrayIndex(domQuestion){
  var value = $(domQuestion).attr("value");
  var question = questionArr.find(function(element){
    return value == element.id;
  });
  return questionArr.findIndex(function(element){
    return question.id == element.id;
  });
}

function showModal(){
  $("#modal_text").html("");
  for(var i = 0; i < errors.length; i++){
    $("#modal_text").append(errors[i]);
  }
  $("#questionModal").css("display", "block");
}

function validate(){
  errors = [];
  for(var i = 0 ; i < questionArr.length; i++){
    if(!questionArr[i].doValidations()){
      errors.push(`<p>Question ${i+1} has errors. <button value='${questionArr[i].id}' onclick='fixErrors(this)' class='btn btn-primary'>Click here to fix them</button></p>`);
    }
  }
  if(errors.length){
    showModal();
    return false;
  }
  return true;
}

function fixErrors(e){
  closeModal();
  eraseFields();
  var value = $(e).attr("value");
  currentQuestion = questionArr.find(function(element){
    return element.id == value;
  });
  toggleTextFields(currentQuestion);
}

function closeModal(){
  $("#questionModal").hide();
}

function saveAndSubmit(){
  if(validate()){
    console.log(questionArr);
    $.ajax({
      url: "/questions",
      method: "POST",
      dataType: "json",
      data: {
        questionArr: questionArr
      },
      success: function(data){
        //window.location.href = data.redirect;
      }
    });
  }
}

