class QuestionSet{
  constructor(id, question, answer1, answer2, answer3, answer4, correct_answer){
    this.id = id;
    this.question = question;
    this.answer1 = {
      answer: answer1,
      correct_answer: "0"
    };
    this.answer2 = {
      answer: answer2,
      correct_answer: "0"
    };
    this.answer3 = {
      answer: answer3,
      correct_answer: "0"
    };
    this.answer4 = {
      answer: answer4,
      correct_answer: "0"
    };  
    this.errors = "";
  }

  static incrementId() {
    this.id += 1;
  }

  static getHighestId(){
    return this.id;
  }

  doValidations(){
    this.errors = "";
    if(this.question == "")this.errors+=`<p class='error'>Question field cannot be empty</p>`;
    if(this.answer1.answer == "")this.errors+= "<p class='error'>Answer 1 field cannot be empty</p>";
    if(this.answer2.answer == "")this.errors+= "<p class='error'>Answer 2 field cannot be empty</p>";
    if(this.answer3.answer == "")this.errors+= "<p class='error'>Answer 3 field cannot be empty</p>";
    if(this.answer4.answer == "")this.errors+= "<p class='error'>Answer 4 field cannot be empty</p>";
    if(this.answer1.correct_answer == "0" && this.answer2.correct_answer == "0" && this.answer3.correct_answer == "0" && this.answer4.correct_answer == "0"){
      this.errors+= "<p class='error'>Correct Answer Field cannot be empty</p>";
    }
    return (this.errors == "") ? true : false;
  }

  updateFields(field){
    if(field == "question"){
      this[`${field}`] = $(`#${field}`).val();
    }else{
      this[`${field}`].answer = $(`#${field}`).val(); 

    }
  }

  setCorrectAnswer(choice){
    for(var i = 1; i <= 4; i++){
      if(i == choice){
        this[`answer${i}`].correct_answer = "1";
      }else{
        this[`answer${i}`].correct_answer = "0";
      }
    }
  }

  revertDefaultChoice(){
    for(var i = 1; i <= 4; i++){
      this[`answer${i}`].correct_answer = "0";
    }
  }

  get getErrors() {
    return this.errors;
  }
  
  set setErrors(error){
    this.errors += error;
  }
}