<div id="deleteQuestionModal" class="modal">
<div id="deleteQuestionModal_text" class="modal-content">
    <h3>Are You Sure You Want To Delete This Question?</h3>
    <p class="error">*This action is irreversible and will delete all answers linked to this question!</p>
    <div class="modal-footer modal_btn_container">
    <button id="questionDeleteNo" onclick="deleteQuestion(this)" class="btn waves-effect waves-light modal_btn" >Cancel<i class='material-icons left'>cancel</i></button>
    <button id="questionDeleteYes" onclick="deleteQuestion(this)" class="btn waves-effect waves-light modal_btn" >Delete Question<i class='material-icons left'>delete</i></button>
    </div>
</div>
</div>