<div id="questionModal" class="modal">

  <div id="modal_text" class="modal-content">
  </div>

</div>
<script>
$(document).click(function (e) {
    if ($(e.target).is('#questionModal')) {
        $("#questionModal").fadeOut(500);
    }

});

</script>