
<% if session[:guest_user_id] %>
    <h2>Guest User Profile</h2>

<% else %>
    <h2>User Profile</h2>
<% end %>



<p>Username:<%= @userToRender.username =%></p>
<p>Email:<%= @userToRender.email =%></p>