<form>

<label />Your Username:
<input type='text' value='username'/>

<label />Your Password:
<input type='password' value='password'/>

<input type='submit' value='submitButton' id='submitButton' />

</form>