<h1>Listing Newly Created Collection</h1>
 
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Contained Number of Quizzes</th>
    </tr>
  </thead>
 
  <tbody>
    <tr>
        <td><%= @collection.name %></td>
        <td><%= @collection.category %></td>
        <td><%= @collection.total_quizzes %></td>
    </tr>
  </tbody>
</table>
<h2>This collection contains no quizzes yet. Click <a href="/quiz/new_quiz">here</a> to add quizzes</h2>
<br>
