<div id="userDeleteModal" class="modal">

  <div id="userDeleteModelText" class="modal-content">
    <h3>Are You Sure You Want To Delete This User?</h3>
    <p class="error">*This action is irreversible and will delete all scores linked to this user!</p>
    <div class="modal_btn_container modal-footer">
      <button id="userDeleteNo" onclick="deleteUser(this)" class="btn waves-effect waves-light" >Cancel<i class='material-icons left'>cancel</i></button>
      <button id="userDeleteYes" onclick="deleteUser(this)" class="btn waves-effect waves-light" >Delete This User<i class='material-icons left'>delete</i></button>
    </div>
  </div>

</div>